.nav{
    width: 100%;
    background-color: black;
    height: 64px;
    position: fixed;
    top: 0;
    z-index: 9999999999;
    overflow: hidden;
}
.nav-bar{
    display: flex;
    height: 64px;
    justify-content: space-between;
    align-items: center;
}
.nav-bar ul{
    display: flex;
    gap: 45px;
}
.nav-bar ul li a{
    color: #fff;
    font-weight: 400;
}
.icons{
    display: flex;
    gap: 60px;
    height: 64px;
    align-items: center;
    
}
.icons span{
    color: white;
    font-size: 20px;
}